*{margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$rojopastel:#ec5151;
$naranjaintenso:#e78931;
$naranjapastel:#eeb682;
$verdepastel:#99ffb3;
/*Body general para todas las paginas*/
body{
    font-family: 'Righteous', cursive;
    color: #000000;
    background-color: #ffffff;
}
/*Header con barra de navegacion para todas las paginas*/
.headernav{
    text-align: center;
    nav{
        padding: 0.5rem;
    }
    .nombremarca{
        font-family: 'Lobster', cursive;
        position: absolute;
        color:$verdepastel;
        padding: 7px;
    }
    .menu{
        list-style: none;
        padding: 0;
        margin: 0;
        background:linear-gradient(to right,$rojopastel,$naranjaintenso,$rojopastel);
        display: flex;
        justify-content: flex-end;
    }
    a{
        color: #ffffff;
        text-decoration: none;
        padding: 0.7rem;
        display: block;
    
     &:hover{
        background-color:$verdepastel;
        color:#ffffff;
        transform:scale(1.1, 1.1);
        font-weight: bold;}
    }
}
/*Footer general para todas las paginas*/
footer{
    border: 5px;
    padding: 5px;
    text-align: center;
    color:$verdepastel;
    background:linear-gradient(to right, $rojopastel,$naranjaintenso,$rojopastel);
}
@import "index";
@import "destacados";
@import "productos";
@import "nosotros";
@import "redes";
@media screen and (max-width:650px){
    .contenedormainindex{
        font-size: large;
        grid-template-columns:repeat(3, auto);
        grid-template-rows:repeat(5, auto);
        row-gap:20px ;
        column-gap: 10px;
        grid-template-areas:
        "enlace enlace enlace"
        "imagen1 imagen1 imagen1"
        "texto1 texto1 texto1"
        "imagen2 imagen2 imagen2"
        "texto2 texto2 texto2" ;
    }
    .mainnosotros{
        font-size: large;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(6, auto);
        row-gap:20px ;
        column-gap: 10px;
        grid-template-areas:
        "titulo titulo titulo titulo"
        "imagen1 imagen1 imagen1 imagen1"
        "texto1 texto1 texto1 texto1"
        "imagen2 imagen2 imagen2 imagen2"
        "imagen3 imagen3 imagen3 imagen3"
        "texto2 texto2 texto2 texto2" ;
    }
    .nombremarca{
        display: none;
    }
    .menu{
        justify-content:space-around;
    }
}