*{margin: 0;
padding: 0;
box-sizing: border-box;
}
/*Body general para todas las paginas*/
body{
    font-family: 'Righteous', cursive;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
/*Header con barra de navegacion para todas las paginas*/
header{
text-align: center;
}
nav{
    padding: 0.5rem;
}
.nombremarca{
    font-family: 'Lobster', cursive;
    position: absolute;
    color:rgb(153, 255, 179);
    padding: 7px;
}
nav .menu{
    list-style: none;
    padding: 0;
    margin: 0;
    background:linear-gradient(to right,#ec5151,#e78931,rgb(236, 81, 81));
    display: flex;
    justify-content: flex-end;
}
 nav .menu a{
    color: white;
    text-decoration: none;
    padding: 0.7rem;
    display: block;
}
nav li a:hover{
    background-color:#99ffb3;
    color:rgb(255, 255, 255);
    transform:scale(1.1, 1.1);
    font-weight: bold;
}

/*Estilo de index-pagina principal*/
.bodyindex{
    display: grid;
    grid-template-columns:repeat(4, auto);
    grid-template-rows: repeat(4,auto);
    gap: 10px;
    grid-template-areas:
    "headernav headernav headernav headernav"
    "main main main main"
    "main main main main"
    "footer footer footer footer" ;
}
.headernav{
    grid-area:headernav ;
}
.footer{
    grid-area:footer;
}
.contenedormainindex{ 
    grid-area: main;
    margin: 10px;
    border:8px;
    padding:18px ;
    text-align: center;
    background-color:#eeb682;
    border-style: solid;
    border-color:rgb(231, 137, 49);
    border-radius:5%;
    background:linear-gradient(to right,#e78931,rgb(238, 182, 130), rgb(238, 182, 130), rgb(231, 137, 49) );
    font-family: 'Righteous', cursive;
    font-size: medium;
    color: white;
    display: grid;
    grid-template-columns:repeat(3, auto);
    grid-template-rows:repeat(3, auto);
    row-gap:20px ;
    column-gap: 10px;
    grid-template-areas:
    "enlace enlace enlace"
    "imagen1 texto1 texto1"
    "texto2 texto2 imagen2" ;
    justify-items:center;
    align-items:center;
}
.enlace{
    grid-area:enlace ;
}
.imagencookie{
    grid-area: imagen1;
}
.textocookie{
    grid-area: texto1;
}
.textoapple{
    grid-area: texto2;
}
.imagenapple{
    grid-area: imagen2;
}
.imagenesindex{
    border-radius: 50%;
    transition: all 1s;
}
.imagenesindex:hover{
    transform: scale(1.05, 1.05);
}
.contenedormainindex a{
    font-weight: bold;
    font-size:50px;
    font-family: 'Lobster', cursive;
    text-decoration: none;
    color:rgb(153, 255, 179);
}
/*Footer general para todas las paginas*/
footer{
    border: 5px;
    padding: 5px;
    text-align: center;
    color:rgb(153, 255, 179);
    background:linear-gradient(to right,rgb(236, 81, 81),rgb(231, 137, 49),rgb(236, 81, 81));
}
/* Estilo de pagina-destacados*/
.maindestacados{
    margin: 10px;
    border:8px;
    padding:15px ;
    background-color:rgb(238, 182, 130);
    border-style: solid;
    border-color:rgb(231, 137, 49);
    background:linear-gradient(to right,rgb(231, 137, 49),rgb(238, 182, 130), rgb(238, 182, 130), rgb(231, 137, 49) );
    border-radius:5%;
}
.tpdestacados1{
    color:rgb(153, 255, 179);
    text-align: center;
}
.tpdestacados{
    padding:15px;
    text-align:center;
    font-family:'Lobster', cursive ;
    color:white;
}
.fdestacados{ 
    width:300px;
   height:280px;
    border: 5px solid rgb(153, 255, 179);
    border-radius: 20px;
    opacity: .6;
    transition: all 2s;
}
.imagenesdestacadas{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-around;
}
.fdestacados:hover{
    transform:scale(1.1, 1.1);
    opacity:1;
    border: solid 5px white;
    border-radius: 20px;
}
/*Estilo de pagina-productos*/
.mainproductos{
    background-image:url("http://127.0.0.1:5500/MEDIA/IMAGENES/logo%20marca/apple-touch-icon.png");
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center ;
}
.sproductos{
    margin:15px;
    border:8px;
    padding:25px ;
    border-radius: 5%;
    text-align: center;
    background-color:rgb(238, 182, 130) ;
    border-style: solid;
    border-color:rgb(231, 137, 49);
    background:linear-gradient(to right,rgb(231, 137, 49),rgb(238, 182, 130), rgb(238, 182, 130), rgb(231, 137, 49) );
}
.listadproductos{
    color: white;
}
.tproductosl{
    font-family: 'Lobster', cursive;
    color:rgb(153, 255, 179);
    padding-bottom: 8px;
}
.tproductos{
    font-family: 'Lobster', cursive;
    color:rgb(236, 81, 81);
    padding-bottom: 8px;
}
.precios{
    margin:15px;
    border:8px;
    padding:20px ;
    border-radius: 5%;
    background-color:rgb(238, 182, 130) ;
    border-style: solid;
    border-color:rgb(231, 137, 49);
    background:linear-gradient(to right,rgb(231, 137, 49),rgb(238, 182, 130), rgb(238, 182, 130), rgb(231, 137, 49) );
}
.precio{
    font-family: 'Lobster', cursive;
    color:rgb(153, 255, 179);
    padding-bottom: 8px;
    text-align: center;

}
.tablaprecios{
    background-color: rgb(233, 255, 191);
    color: rgb(55, 80, 50);
    border: 5px;
    border-radius: 5%;
    border-color:  rgb(236, 81, 81);
    border-style: solid;
    padding: 10px;
    text-align: center;
}
/*Estilo de pagina-nosotros*/
.bodynosotros{
    display: grid;
    grid-template-columns:repeat(4, auto);
    grid-template-rows: repeat(4,auto);
    gap: 10px;
    grid-template-areas:
    "headernav headernav headernav headernav"
    "main main main main"
    "main main main main"
    "footer footer footer footer" ;
}
.headernav{
    grid-area:headernav;
}
.footer{
    grid-area: footer;
}
.mainnosotros{
    grid-area:main;
    margin: 10px;
    border:8px;
    padding:20px ;
    background-color:rgb(238, 182, 130);
    border-style: solid;
    border-color:rgb(231, 137, 49);
    border-radius:5%;
    background:linear-gradient(to right,rgb(231, 137, 49),rgb(238, 182, 130), rgb(238, 182, 130), rgb(231, 137, 49) );
    font-family: 'Righteous', cursive;
    font-size: medium;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
    "titulo titulo titulo titulo"
    "imagen1 imagen1 imagen1 imagen1"
    "texto1 texto1 imagen2 imagen2"
    "imagen3 imagen3 imagen3 texto2" ;
    gap: 10px;
    justify-items: stretch;
    align-items: center;
}
.titulonosotros{
    padding: 15px;
    grid-area: titulo;
    font-family: 'Lobster', cursive;
    color:rgb(153, 255, 179);
    font-size:x-large;
}
.imagennosotros2{
    grid-area: imagen1;
}
.textonosotros1{
    grid-area: texto1;
    padding: 20px;
    text-align: center;
    font-size: large;
}
.imagennosotros1{
    grid-area: imagen2;
}
.imagennosotros3{
    grid-area: imagen3;
}
.textonosotros2{
    padding: 25px;
    grid-area: texto2;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color:rgb(148, 5, 5) ;
    border-style: solid;
    border-radius: 20%;
    border-color:rgb(238, 182, 130);
    background: linear-gradient(to right, rgb(255, 29, 29), rgb(148, 5, 5), rgb(148, 5, 5),rgb(255, 29, 29) );
}
.bordeimagen1{
    border: solid 5px rgba(255, 255, 255, 0.185);
    border-radius: 20px;
}
.bordeimagen{
    border-radius: 100%;
}
.quienessomos{
    font-family: 'Lobster', cursive;
    color:rgb(153, 255, 179);
}
.titulorojo{
    text-align: center;
    font-family: 'Lobster', cursive;
    color:rgb(255, 29, 29);
    padding-bottom: 8px;
    padding-top: 20px;
}
/*Estilo de pagina-redes*/
.mainredes{
    background-image:url("http://127.0.0.1:5500/MEDIA/IMAGENES/logo%20marca/apple-touch-icon.png");
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;

}.redes{
    margin: 10px;
    border:8px;
    padding:15px ;
    border-style: solid;
    border-color:rgb(153, 255, 179);
    border-radius: 5%;
    background:linear-gradient(to right,rgb(231, 137, 49),rgb(236, 81, 81),rgb(231, 137, 49));
    font-family:'Lobster', cursive;
    text-align: center;
    color:rgb(153, 255, 179);
    letter-spacing: 5px;
}
.contacto{
    margin: 10px;
    border:8px;
    padding:15px ;
    background-color: rgb(236, 81, 81);
    border-style: solid;
    border-color:rgb(231, 137, 49);
    border-radius: 5%;
    background:linear-gradient(to top,rgb(231, 137, 49),rgb(236, 81, 81),rgb(231, 137, 49));
    font-family:'Lobster', cursive;
    font-weight: bold;
    color:rgb(153, 255, 179);
    text-align: center;
}
.formularioc{
    margin:20px;
    border:10px;
    padding:20px;
    background-color:rgb(255, 255, 255);
    border-radius: 15px;
    border-style:ridge;
    font-family: 'Righteous', cursive;
    color: black;
}
legend{
    margin:20px;
    border:10px;
    padding:20px ;
}
@media screen and (max-width:600px){
    .contenedormainindex{
        font-size: large;
        grid-template-columns:repeat(3, auto);
        grid-template-rows:repeat(5, auto);
        row-gap:20px ;
        column-gap: 10px;
        grid-template-areas:
        "enlace enlace enlace"
        "imagen1 imagen1 imagen1"
        "texto1 texto1 texto1"
        "imagen2 imagen2 imagen2"
        "texto2 texto2 texto2" ;
    }
    .mainnosotros{
        font-size: large;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
        "titulo titulo titulo titulo"
        "imagen1 imagen1 imagen1 imagen1"
        "texto1 texto1 texto1 texto1"
        "imagen2 imagen2 imagen3 imagen3"
        "texto2 texto2 texto2 texto2" ;
    }
    .mainproductos{
        text-align: center;
       display: flex;
       flex-direction: column;
       justify-content:space-around;
       align-items:center ;
    }
}